bathroom-motion-sensor.json
[
  {
    "id": "66bdcee4.fe0dc",
    "type": "subflow",
    "name": "turn_on_temp",
    "info": "",
    "category": "",
    "in": [{ "x": 40, "y": 80, "wires": [{ "id": "dcd6301.f6b86d" }] }],
    "out": [
      { "x": 620, "y": 40, "wires": [{ "id": "53bbac4e.95e634", "port": 0 }] },
      { "x": 620, "y": 120, "wires": [{ "id": "53bbac4e.95e634", "port": 1 }] }
    ],
    "env": [{ "name": "TIMEOUT_MINUTES", "type": "num", "value": "2" }],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "dcd6301.f6b86d",
    "type": "function",
    "z": "66bdcee4.fe0dc",
    "name": "turn_on_temp",
    "func": "const timeout = flow.get('timeout')\nif (timeout) {\n    clearTimeout(timeout)\n}\nconst newTimeout = setTimeout(() => {\n    node.send({ payload: 0 })\n}, [1000 * 60 * env.get('TIMEOUT_MINUTES')]) \nflow.set('timeout', newTimeout)\nreturn {\n    payload: 1\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 80,
    "wires": [["53bbac4e.95e634"]]
  },
  {
    "id": "53bbac4e.95e634",
    "type": "switch",
    "z": "66bdcee4.fe0dc",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "0", "vt": "num" },
      { "t": "eq", "v": "1", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 80,
    "wires": [[], []]
  },
  {
    "id": "bf7b0e5f.c5f63",
    "type": "tab",
    "label": "Bathroom Motion Sensor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "be399d3.3f8376",
    "type": "mqtt in",
    "z": "bf7b0e5f.c5f63",
    "name": "",
    "topic": "zigbee2mqtt/Leo",
    "qos": "2",
    "datatype": "json",
    "broker": "77a14544.305c8c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 280,
    "y": 100,
    "wires": [["6053aded.b1c364"]]
  },
  {
    "id": "a40456cc.ee0dd8",
    "type": "api-call-service",
    "z": "bf7b0e5f.c5f63",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "switch",
    "service": "turn_on",
    "entityId": "switch.ben",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1070,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "2c803f5b.8c57e",
    "type": "api-call-service",
    "z": "bf7b0e5f.c5f63",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "switch",
    "service": "turn_off",
    "entityId": "switch.ben",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1070,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "6053aded.b1c364",
    "type": "subflow:66bdcee4.fe0dc",
    "z": "bf7b0e5f.c5f63",
    "name": "",
    "env": [],
    "x": 640,
    "y": 100,
    "wires": [["2c803f5b.8c57e"], ["a40456cc.ee0dd8"]]
  },
  {
    "id": "77a14544.305c8c",
    "type": "mqtt-broker",
    "name": "",
    "broker": "192.168.0.25",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "b41e4953.1942e8",
    "type": "server",
    "name": "Home Assistant",
    "version": 1,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]
