entrance-hall-motion-sensor.json
[
  {
    "id": "66bdcee4.fe0dc",
    "type": "subflow",
    "name": "turn_on_temp",
    "info": "",
    "category": "",
    "in": [{ "x": 40, "y": 80, "wires": [{ "id": "dcd6301.f6b86d" }] }],
    "out": [
      { "x": 620, "y": 40, "wires": [{ "id": "53bbac4e.95e634", "port": 0 }] },
      { "x": 620, "y": 120, "wires": [{ "id": "53bbac4e.95e634", "port": 1 }] }
    ],
    "env": [{ "name": "TIMEOUT_MINUTES", "type": "num", "value": "2" }],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "dcd6301.f6b86d",
    "type": "function",
    "z": "66bdcee4.fe0dc",
    "name": "turn_on_temp",
    "func": "const timeout = flow.get('timeout')\nif (timeout) {\n    clearTimeout(timeout)\n}\nconst newTimeout = setTimeout(() => {\n    node.send({ payload: 0 })\n}, [1000 * 60 * env.get('TIMEOUT_MINUTES')]) \nflow.set('timeout', newTimeout)\nreturn {\n    payload: 1\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 80,
    "wires": [["53bbac4e.95e634"]]
  },
  {
    "id": "53bbac4e.95e634",
    "type": "switch",
    "z": "66bdcee4.fe0dc",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "0", "vt": "num" },
      { "t": "eq", "v": "1", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 80,
    "wires": [[], []]
  },
  {
    "id": "f6b17d7c.3391c",
    "type": "tab",
    "label": "Entrance Hall Motion Sensor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "5ae47971.04bd78",
    "type": "mqtt in",
    "z": "f6b17d7c.3391c",
    "name": "",
    "topic": "Eddy/activate",
    "qos": "2",
    "datatype": "auto",
    "broker": "77a14544.305c8c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 270,
    "y": 100,
    "wires": [["aa3d35b9.5f1478"]]
  },
  {
    "id": "aa3d35b9.5f1478",
    "type": "subflow:66bdcee4.fe0dc",
    "z": "f6b17d7c.3391c",
    "name": "",
    "env": [{ "name": "TIMEOUT_MINUTES", "value": "0.5", "type": "num" }],
    "x": 640,
    "y": 100,
    "wires": [["ae1265ee.580de8"], ["ae1265ee.580de8"]]
  },
  {
    "id": "31637b4a.156454",
    "type": "mqtt out",
    "z": "f6b17d7c.3391c",
    "name": "",
    "topic": "Eve/state",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "77a14544.305c8c",
    "x": 1100,
    "y": 100,
    "wires": []
  },
  {
    "id": "ae1265ee.580de8",
    "type": "function",
    "z": "f6b17d7c.3391c",
    "name": "",
    "func": "return {\n    payload: msg\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 100,
    "wires": [["31637b4a.156454"]]
  },
  {
    "id": "77a14544.305c8c",
    "type": "mqtt-broker",
    "name": "",
    "broker": "192.168.0.25",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]
