light-remote-control.json
[
  {
    "id": "fa36c62d.8fb788",
    "type": "tab",
    "label": "Light Remote Control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e9b89a45.63f4c8",
    "type": "mqtt in",
    "z": "fa36c62d.8fb788",
    "name": "",
    "topic": "zigbee2mqtt/Max/action",
    "qos": "2",
    "datatype": "auto",
    "broker": "77a14544.305c8c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 140,
    "y": 140,
    "wires": [["8d5acf1d.4db88"]]
  },
  {
    "id": "1fd605d8.40490a",
    "type": "api-call-service",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "light",
    "service": "toggle",
    "entityId": "light.mike",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1520,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "92247c1b.f0171",
    "type": "switch",
    "z": "fa36c62d.8fb788",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "toggle", "vt": "str" },
      { "t": "eq", "v": "brightness_down_click", "vt": "str" },
      { "t": "eq", "v": "brightness_up_click", "vt": "str" },
      { "t": "eq", "v": "arrow_left_click", "vt": "str" },
      { "t": "eq", "v": "arrow_right_click", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 550,
    "y": 140,
    "wires": [
      ["1fd605d8.40490a"],
      ["762895ca.62c1fc"],
      ["9098df63.6758a"],
      ["288ed1ee.d7499e"],
      ["dc8931ca.dda13"]
    ]
  },
  {
    "id": "9098df63.6758a",
    "type": "api-call-service",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.mike",
    "data": "{ \"brightness_step_pct\": $flowContext(\"step_pct\") }",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1530,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "bd8e80ba.fb0eb",
    "type": "api-call-service",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.mike",
    "data": "{ \"brightness_pct\": msg.payload.brightness_pct }",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1530,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "762895ca.62c1fc",
    "type": "api-current-state",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.mike",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 1030,
    "y": 120,
    "wires": [["752fb1f.9fb9c5"]]
  },
  {
    "id": "752fb1f.9fb9c5",
    "type": "function",
    "z": "fa36c62d.8fb788",
    "name": "get_brightness_pct",
    "func": "const current_brightness_pct = msg.data.attributes.brightness / 255 * 100\nconst brightness_pct = Math.max(1, current_brightness_pct - flow.get('step_pct'))\nreturn {\n    payload: {\n        brightness_pct\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1290,
    "y": 120,
    "wires": [["bd8e80ba.fb0eb"]]
  },
  {
    "id": "8d5acf1d.4db88",
    "type": "function",
    "z": "fa36c62d.8fb788",
    "name": "declare_context",
    "func": "flow.set('step_pct', 20)\nflow.set('kelvin_step', 500)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 140,
    "wires": [["92247c1b.f0171"]]
  },
  {
    "id": "e47d67ad.929f08",
    "type": "api-call-service",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.mike",
    "data": "{ \"kelvin\": msg.payload.kelvin }",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1530,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "288ed1ee.d7499e",
    "type": "api-current-state",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.mike",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 790,
    "y": 240,
    "wires": [["36462dc4.59a792"]]
  },
  {
    "id": "36462dc4.59a792",
    "type": "function",
    "z": "fa36c62d.8fb788",
    "name": "mired_to_kelvin",
    "func": "const mireds = msg.data.attributes.color_temp\nreturn {\n    payload: {\n        kelvin: 1000000 / mireds\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 240,
    "wires": [["fbe1982d.b6ae38"]]
  },
  {
    "id": "fbe1982d.b6ae38",
    "type": "function",
    "z": "fa36c62d.8fb788",
    "name": "decrease_brightness",
    "func": "const kelvin = msg.payload.kelvin\nreturn {\n    payload: {\n        kelvin: kelvin - flow.get('kelvin_step')\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 240,
    "wires": [["e47d67ad.929f08"]]
  },
  {
    "id": "dc8931ca.dda13",
    "type": "api-current-state",
    "z": "fa36c62d.8fb788",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 2,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "light.mike",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 790,
    "y": 320,
    "wires": [["f9fa071a.4a9b28"]]
  },
  {
    "id": "f9fa071a.4a9b28",
    "type": "function",
    "z": "fa36c62d.8fb788",
    "name": "mired_to_kelvin",
    "func": "const mireds = msg.data.attributes.color_temp\nreturn {\n    payload: {\n        kelvin: 1000000 / mireds\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 320,
    "wires": [["b173dda1.c9bd8"]]
  },
  {
    "id": "b173dda1.c9bd8",
    "type": "function",
    "z": "fa36c62d.8fb788",
    "name": "increase_brightness",
    "func": "const kelvin = msg.payload.kelvin\nreturn {\n    payload: {\n        kelvin: kelvin + flow.get('kelvin_step')\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1280,
    "y": 320,
    "wires": [["e47d67ad.929f08"]]
  },
  {
    "id": "77a14544.305c8c",
    "type": "mqtt-broker",
    "name": "",
    "broker": "192.168.0.25",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "b41e4953.1942e8",
    "type": "server",
    "name": "Home Assistant",
    "version": 1,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]
