master-room-motion-sensor.json
[
  {
    "id": "adc384dc.d4f578",
    "type": "subflow",
    "name": "daily_period",
    "info": "",
    "category": "",
    "in": [{ "x": 40, "y": 80, "wires": [{ "id": "ccf036ee.a92cc8" }] }],
    "out": [
      { "x": 360, "y": 80, "wires": [{ "id": "ccf036ee.a92cc8", "port": 0 }] }
    ],
    "env": [
      { "name": "lowerBound", "type": "num", "value": "20" },
      { "name": "upperBound", "type": "str", "value": "7" }
    ],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "ccf036ee.a92cc8",
    "type": "function",
    "z": "adc384dc.d4f578",
    "name": "filter",
    "func": "const hours = msg.payload;\nconst lowerBound = env.get('lowerBound');\nconst upperBound = env.get('upperBound');\n\nconst isContinuous = lowerBound < upperBound;\n\nconst isBetween = hours >= lowerBound || hours <= upperBound;\n\nif (\n  isContinuous\n    ? isBetween\n    : (hours >= lowerBound && hours <= 23) || (hours >= 0 && hours <= upperBound)\n) {\n  return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 170,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "66bdcee4.fe0dc",
    "type": "subflow",
    "name": "turn_on_temp",
    "info": "",
    "category": "",
    "in": [{ "x": 40, "y": 80, "wires": [{ "id": "dcd6301.f6b86d" }] }],
    "out": [
      { "x": 620, "y": 40, "wires": [{ "id": "53bbac4e.95e634", "port": 0 }] },
      { "x": 620, "y": 120, "wires": [{ "id": "53bbac4e.95e634", "port": 1 }] }
    ],
    "env": [{ "name": "TIMEOUT_MINUTES", "type": "num", "value": "2" }],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "dcd6301.f6b86d",
    "type": "function",
    "z": "66bdcee4.fe0dc",
    "name": "turn_on_temp",
    "func": "const timeout = flow.get('timeout')\nif (timeout) {\n    clearTimeout(timeout)\n}\nconst newTimeout = setTimeout(() => {\n    node.send({ payload: 0 })\n}, [1000 * 60 * env.get('TIMEOUT_MINUTES')]) \nflow.set('timeout', newTimeout)\nreturn {\n    payload: 1\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 80,
    "wires": [["53bbac4e.95e634"]]
  },
  {
    "id": "53bbac4e.95e634",
    "type": "switch",
    "z": "66bdcee4.fe0dc",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "0", "vt": "num" },
      { "t": "eq", "v": "1", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 80,
    "wires": [[], []]
  },
  {
    "id": "c3a644a5.48cb28",
    "type": "subflow",
    "name": "get_hours",
    "info": "",
    "category": "",
    "in": [{ "x": 60, "y": 80, "wires": [{ "id": "681e952b.59a7bc" }] }],
    "out": [
      { "x": 340, "y": 80, "wires": [{ "id": "681e952b.59a7bc", "port": 0 }] }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "681e952b.59a7bc",
    "type": "function",
    "z": "c3a644a5.48cb28",
    "name": "get_hours",
    "func": "const hours = new Date().getHours()\n\nreturn {\n    payload: hours\n};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "36e47aa3.5c83d6",
    "type": "tab",
    "label": "Master Room Motion Sensor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "90e8b8ff.0adf28",
    "type": "mqtt in",
    "z": "36e47aa3.5c83d6",
    "name": "",
    "topic": "zigbee2mqtt/Mark",
    "qos": "2",
    "datatype": "json",
    "broker": "77a14544.305c8c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 230,
    "y": 100,
    "wires": [["82b0be8b.bacdb"]]
  },
  {
    "id": "484ad6da.f11a28",
    "type": "api-call-service",
    "z": "36e47aa3.5c83d6",
    "name": "",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_off",
    "entityId": "light.kyle",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1190,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "1c056f90.1b135",
    "type": "api-call-service",
    "z": "36e47aa3.5c83d6",
    "name": "turn_on_night",
    "server": "b41e4953.1942e8",
    "version": 3,
    "debugenabled": true,
    "service_domain": "light",
    "service": "turn_on",
    "entityId": "light.kyle",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 1180,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "5d43d74a.94fb08",
    "type": "subflow:c3a644a5.48cb28",
    "z": "36e47aa3.5c83d6",
    "name": "",
    "env": [],
    "x": 720,
    "y": 200,
    "wires": [["2740af7a.d56a8"]]
  },
  {
    "id": "82b0be8b.bacdb",
    "type": "subflow:66bdcee4.fe0dc",
    "z": "36e47aa3.5c83d6",
    "name": "",
    "env": [],
    "x": 480,
    "y": 100,
    "wires": [["484ad6da.f11a28"], ["5d43d74a.94fb08"]]
  },
  {
    "id": "2740af7a.d56a8",
    "type": "subflow:adc384dc.d4f578",
    "z": "36e47aa3.5c83d6",
    "name": "",
    "env": [],
    "x": 950,
    "y": 200,
    "wires": [["1c056f90.1b135"]]
  },
  {
    "id": "77a14544.305c8c",
    "type": "mqtt-broker",
    "name": "",
    "broker": "192.168.0.25",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "b41e4953.1942e8",
    "type": "server",
    "name": "Home Assistant",
    "version": 1,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]
